.component-1{
    /* box-shadow: 0px  0px  15px 5px #c7c7c7;
    border-radius: 10px; */
    display: flex;
    flex-direction: column;

    /* padding: 10px; */

    .section{
      margin: 5px 0px;
    }

    label{
      font-weight: bold;
    }

    .label-1{
      /* margin: 10px; */
        .label_1_header
        {
          display: flex;
          flex-direction: row;
          align-items: center;
          
          #counter{
            
            margin-left: 35px;
            background-color: #008080 !important;
            color: white !important;
            padding: 1px 4px;
            font-size: x-small !important;
            
            border-radius: 5px;
          }
          
        }

        .select_wrapper{
          width: 100%;


          select{
            width: 100%;
            padding: 10px;
            border: 2px solid #dbdbdb;
            background-color: transparent;
            border-radius: 5px;

          }
        }
        
    }

    .label-2{
     input{
      width: 100%;
      padding: 10px;
      border: 2px solid #dbdbdb;
      background-color: transparent;
      border-radius: 5px;
     }
    }

    .description{
      display: flex;
      flex-direction: column;
      textarea{
        padding: 10px;
        border: 2px solid #dbdbdb;
        background-color: transparent;
        border-radius: 5px;
        width: 100%;
        resize: none;
      }
      margin-bottom: 0px;

    }

    .buttons{
      margin-top: 10px;
      display: flex;
    }
}



.component-4{
  label{
    font-weight: bold;
    
  }

  .multiple-select-wrapper{
    width: 100%;
    max-height: 100px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    select {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    select::-webkit-scrollbar {
        width: 0; /* For Chrome, Safari, and Opera */
        height: 0;
    }

    select{
      width: 100%;
  
      padding: 10px;
      border: 2px solid #dbdbdb;
      background-color: transparent;
      border-radius: 5px;
      

    }
  }

  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 10px;

    .input_wrapper{
      width: 45%;
      input{
        height: 30px;
        width: 100%;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
      }

      textarea{
        width: 100%;
        resize: none;
         border: 2px solid #dbdbdb;
        border-radius: 5px;
      }
    }


    display: flex;

    .component3_wrapper{
      width: 45%;
    }
    .component3_header{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .counter{
        
        margin-left: 10px;
        background-color: #008080 !important;
        color: white !important;
        padding: 1px 4px;
        text-align: center;
        font-size: x-small !important;
        
        border-radius: 5px;
      }
    }
  }

}

button{
  background-color: #008080;
  
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  border: 2px solid #2d9595;
  color: white;
  padding: 10px 15px;
}

.cf {
  display: flex;
  justify-content: center;
  align-items: center;
}


*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

.App{
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
}

.component-3
{
  select{
    width: 100%;
    padding: 10px;
    border: 2px solid #dbdbdb;
    background-color: transparent;
    border-radius: 5px;

  }
}